@page "/groups"
@inject IGroupService GroupService
@inject ISmsService SmsService
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject ILogger<Groups> Logger

<h3>Groups</h3>
<PageTitle>Groups</PageTitle>

<SmsInput MessageBody="@SmsMessage" MessageFrom="@SmsFrom" @ref="smsInput"></SmsInput>

<br />
<br />

<div class="header">
    <div class="col">Name</div>
    <div class="col">SMS</div>
    <div class="col"></div>
</div>

@if (GroupService.Groups == null)
{
    <span>Loading...</span>
}
else
{
    @foreach (var group in GroupService.Groups)
    {
        <div class="row">
            <div class="col">
                @group.Name
            </div>
            <div class="col">
                <button class="btn btn-primary" @onclick="(() => SendSMS(group.Id, group.Name))">
                    <i class="oi oi-envelope-open"></i>
                </button>
            </div>
            <div class="col">
                <button class="btn btn-secondary" @onclick="(() => EditGroup(group.Id))">
                    <i class="oi oi-pencil"></i>
                </button>
                <button class="btn btn-secondary" @onclick="(() => DeleteGroup(group))">
                    <i class="oi oi-trash"></i>
                </button>
            </div>
        </div>
    }

    <button type="button" class="btn btn-primary" @onclick="AddGroup">
        <i class="oi oi-plus"></i> Add group
    </button>
}

@code {
    public string SmsMessage { get; set; } = "Input SMS body text here...";
    public string SmsFrom { get; set; } = "Send from...";
    SmsInput smsInput { get; set; } = new SmsInput();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await GroupService.GetGroups();

            Logger.LogInformation("Data retrieved.");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.ToString());
        }
    }

    private void EditGroup(int id)
    {
        NavigationManager.NavigateTo($"/group/{id}");
    }

    private async Task DeleteGroup(Group group)
    {
        try
        {
            bool confirmed = await JSRuntime.InvokeAsync<bool>("confirm", $"Do you really want to delete user {group.Name}?");
            if (confirmed)
            {
                await GroupService.DeleteGroup(group.Id);

                Logger.LogInformation("Group deleted.");
            }
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.ToString());
        }
    }

    private async Task SendSMS(int groupId, string groupName)
    {
        try
        {
            var sms = new Sms()
                {
                    To = groupName,
                    From = smsInput.MessageFrom,
                    Body = smsInput.MessageBody
                };

            await SmsService.SendGroupSMS(groupId, sms);

            Logger.LogInformation("Group SMS sent.");
            await JSRuntime.InvokeVoidAsync("alert", $"Group SMS sent.");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex.ToString());
            await JSRuntime.InvokeVoidAsync("alert", $"Group SMS NOT sent.");
        }
    }

    private void AddGroup()
    {
        NavigationManager.NavigateTo("/group/-1");
    }
}

